@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #031630;
  color: #fff;
}

variables {
  --primary-color: #031630 ;
  --secondary-color: #018079;
  --tertiary-color: #f0f0f0;
  --font-family: 'Arial, sans-serif';
}

.primary{
  background-color: #031630;

}
.secondary {
  background-color: #018079;

}
.cta {
  background-color: #018079;
  font-weight: bold;
  color: #fff;
}
.cta:hover {
  background-color: #f0f0f0;
  color: #031630;
}


.header {
  background-color: #018079;
  color: var(--primary-color);
}
